
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-body">

          <ngb-tabset class="tab-coupon profile-tabs">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <app-feather-icons [icon]="'layout'"></app-feather-icons>Information Générale
              </ng-template>
              <ng-template ngbTabContent>
                <form [formGroup]="garAssurForm" *ngIf="garAssurForm">
                  <div class="row product-adding">
                    <div class="col-xl-6">
                      <div class="card">
                        <div class="card-header">
                          <h5>General</h5>
                        </div>
                        <div class="card-body">

                          <div class="form-group">
                            <label for="contratModel" class="col-form-label">
                              <span>*</span> Contrat modèle
                            </label>
                            <br>
                            <span>
                              <a (click)="openFile(imageUrl)" class="contart"
                              href="javascript:;"  >{{contrat_model_name}}</a>
                            </span>

                            <div class="add-product" style="width: 70%; height: 70%;">

                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <h5 class="f-w-600 mt-3">Produit associé à la garantie assurance
                                </h5>
                                <form [formGroup]="garAssurProductForm" *ngIf="garAssurProductForm">
                                  <div class="digital-add needs-validation">
                                    <div class="form-group">
                                      <!-- <ng-multiselect-dropdown id="produitService" name="produitService"
                                        [settings]="dropdownProduitSettings" formControlName="produitService"
                                        [data]="listProduits" required="" [placeholder]="'-- Select Produit --'">
                                      </ng-multiselect-dropdown> -->
                                      <span *ngIf="garAssur.produitService">
                                        <a  class="produit" (click)="go_to_product()">
                                          {{garAssur.produitService.translations[0].__designation}}
                                        </a>
                                        <!--   [routerLink]="gestion-produits/simple/details-produit/", this.id_produit -->

                                      </span>


                                    </div>
                                  </div>

                                </form>
                              </div>



                            </div>

                          </div>

                        </div>

                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="card">
                        <div class="card-header">
                          <h5>Complémentaire</h5>
                        </div>
                        <div class="card-body">
                          <div class="digital-add needs-validation">
                            <div class="form-group">
                              <label for="refGarAssur" class="col-form-label"><span>*</span>
                                Réference Garantie Assurance</label>
                              <input class="form-control" id="refGarAssur" type="text" required=""
                                formControlName="refGarAssur">
                              <div *ngIf="refGarAssur.invalid && (refGarAssur.touched || refGarAssur.dirty)"
                                class="text text-danger">

                                <div *ngIf="refGarAssur.errors?.required">
                                  The Referentie Garantie Assurance is required.
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="typeGarAssur" class="col-form-label"><span>*</span> Type
                                Garantie Assurance</label>
                              <ng-multiselect-dropdown id="typeGarAssur" name="typeGarAssur" [data]="listTGA"
                                formControlName="typeGarAssur" [settings]="dropdownTGASettings" disabled="true"
                                [placeholder]="'-- Select Type Garantie Assurance --'">
                              </ng-multiselect-dropdown>
                              <div *ngIf="typeGarAssur.invalid && (typeGarAssur.touched || typeGarAssur.dirty)"
                                class="text text-danger">

                                <div *ngIf="typeGarAssur.errors?.required">
                                  The Type Garantie Assurance is required.
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="valid_de" class="col-form-label"><span>*</span> Valide à
                                partir de</label>
                              <div class="input-group col-md-12 input-grp-p">
                                <input class="datepicker-here form-control digits" ngbDatepicker
                                  formControlName="valid_de" #d="ngbDatepicker" placeholder="dd/mm/yyyy" required="">
                                <div class="input-group-append">
                                  <button class="btn calendar" (click)="d.toggle()" type="button"><i
                                      class="fa fa-calendar"></i></button>
                                </div>
                              </div>

                            </div>

                            <div class="form-group">
                              <label for="duree" class="col-form-label"><span>*</span> Durée
                                Garantie</label>
                              <input class="form-control" id="duree" type="number" required="" formControlName="duree">
                              <div *ngIf="duree.invalid && (duree.touched || duree.dirty)" class="text text-danger">

                                <div *ngIf="duree.errors?.required">
                                  The Unité Durée is required.
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="uniteDureeGar" class="col-form-label"><span>*</span>
                                Unité Durée Garantie</label>
                              <ng-multiselect-dropdown id="uniteDureeGar" name="uniteDureeGar" [data]="listUDG"
                                formControlName="uniteDureeGar" [settings]="dropdownUDGSettings" disabled="true"
                                [placeholder]="'-- Select Unité Durée Garantie --'">
                              </ng-multiselect-dropdown>
                              <div *ngIf="uniteDureeGar.invalid && (uniteDureeGar.touched || uniteDureeGar.dirty)"
                                class="text text-danger">

                                <div *ngIf="uniteDureeGar.errors?.required">
                                  The Unité Durée Garantie Assurance is required.
                                </div>
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="valeurGar" class="col-form-label"><span>*</span> Valeur
                                Garantie</label>
                              <input class="form-control" id="valeurGar" type="number" required=""
                                formControlName="valeurGar">
                              <div *ngIf="valeurGar.invalid && (valeurGar.touched || valeurGar.dirty)"
                                class="text text-danger">

                                <div *ngIf="valeurGar.errors?.required">
                                  The Valeur garantie is required.
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="valeurGar" class="col-form-label"><span>*</span>Monnaie</label>
                                <ng-multiselect-dropdown name="monnaie" [placeholder]="'-- Select Monnaie --'" disabled="true"
                                [settings]="dropdownMonnaieSettings" formControlName="monnaie" [data]="listMonnaies">
                                <ng-template #optionsTemplate let-item let-option="option" let-id="id"
                                  let-isSelected="isSelected">
                                  <div style="padding:1px 10px;margin-right:10px;right:2px;top:-2px">
                                    <img [src]="getMonnaies[id].image" style="width: 18px; margin: 0 20px;" />
                                    <label style="color: #333;min-width: 130px;"
                                      [ngStyle]="{ 'color': getMonnaies[id].isDisabled? 'lightgrey':''}">
                                      {{getMonnaies[id].item_text}}
                                    </label>
                                  </div>
                                </ng-template>
                                <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                  <div>
                                    <img [src]="getMonnaies[id].image" style="width: 18px; margin-right: 2px;" />
                                    {{option}}
                                  </div>
                                </ng-template>
                              </ng-multiselect-dropdown>


                            </div>


                            <div class="form-froup">
                              <label for="__descriptif" class="col-form-label"><span>*</span> descriptif
                              </label>
                              <textarea class="form-control" name="__descriptif" id="" cols="30" rows="2"
                                formControlName="__descriptif"></textarea>
                            </div>

                          </div>

                          <div class="form-group mt-4">
                            <div class="product-buttons text-center">
                              <button type="button" class="btn btn-primary mr-1" (click)="return()">{{'button.return' |
                                translate}}</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </form>
              </ng-template>
            </ngb-tab>

            <ngb-tab>
              <ng-template ngbTabTitle>
                <i data-feather="cloud"></i> Contenu Multi media
              </ng-template>
              <ng-template ngbTabContent>
                <h5 class="f-w-600">Contenu Multi media associée à la garantie assurance</h5>

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" *ngFor="let header of contMmediaHeaders">{{header}}</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let contMmedia of listContMmedias">
                        <td>{{contMmedia.refContenu}}</td>
                        <td>{{contMmedia.titreDoc}}</td>
                        <td>{{contMmedia.typeContenu}}</td>
                        <td>{{contMmedia.formatDoc}}</td>
                        <td>{{contMmedia.tailleDoc}} {{contMmedia.uniteTaille}}</td>
                        <td>{{contMmedia.provenanceInterne?"Oui":"Non"}}</td>
                        <td>{{contMmedia.relation}} </td>
                        <td style="text-align: center;">
                          <a (click)="openFile(contMmedia.urlDoc)"
                          href="javascript:;"  ><i class="fa fa-download "></i></a>
                        </td>
                    </tbody>

                  </table>
                  </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>

        </div>




      </div>
    </div>
  </div>


