<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-body">
          <ngb-tabset class="tab-coupon profile-tabs">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <app-feather-icons [icon]="'life-buoy'"></app-feather-icons>Tarif Unitaire Variable
              </ng-template>
              <ng-template ngbTabContent>
                <div class="tab-pane fade show active" id="top-profile" role="tabpanel"
                  aria-labelledby="top-profile-tab">
                  <h5 class="f-w-600"> Informations</h5>
                  <form [formGroup]="tuvForm" *ngIf="tuvForm">
                    <div class="row product-adding">
                      <div class="col-xl-6">
                        <div class="card">
                          <div class="card-header">
                            <h5>General</h5>
                          </div>
                          <div class="card-body">
                            <div class="digital-add needs-validation">
                              <div class="form-group">
                                <label class="col-form-label" for="description"><span>*</span> Description </label>
                                <textarea class="form-control" name="description" id="description" cols="30" rows="2"
                                  formControlName="description"></textarea>
                                <div *ngIf="description.invalid && (description.touched || description.dirty)"
                                  class="text text-danger">
                                  The description is required
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="monnaie" class="col-form-label"><span>*</span> Monnaie</label>
                                <ng-multiselect-dropdown name="monnaie" [placeholder]="'-- Select Monnaie --'"
                                  [settings]="dropdownMonnaieSettings" formControlName="monnaie" [data]="listMonnaies">
                                  <ng-template #optionsTemplate let-item let-option="option" let-id="id"
                                    let-isSelected="isSelected">
                                    <div style="padding:1px 10px;margin-right:10px;right:2px;top:-2px">
                                      <img [src]="getMonnaies[id].image" style="width: 18px; margin: 0 20px;" />
                                      <label style="color: #333;min-width: 130px;"
                                        [ngStyle]="{ 'color': getMonnaies[id].isDisabled? 'lightgrey':''}">
                                        {{getMonnaies[id].item_text}}
                                      </label>
                                    </div>
                                  </ng-template>
                                  <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                    <div>
                                      <img [src]="getMonnaies[id].image" style="width: 18px; margin-right: 2px;" />
                                      {{option}}
                                    </div>
                                  </ng-template>
                                </ng-multiselect-dropdown>
                                <div *ngIf="monnaie.invalid && (monnaie.touched && monnaie.dirty)"
                                  class="text text-danger">

                                  <div *ngIf="monnaie.errors?.required">
                                    The Monnaie is required.
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="tuht" class="col-form-label"><span>*</span> Tarif Unitaire HT</label>
                                <input class="form-control" id="tuht" type="number" required=""
                                  formControlName="tarifUHT">
                                <div *ngIf="tarifUHT.invalid && (tarifUHT.touched || tarifUHT.dirty)"
                                  class="text text-danger">

                                  <div *ngIf="tarifUHT.errors?.required">
                                    The Tarif UHT is required.
                                  </div>
                                </div>
                              </div>


                              <div class="form-group">
                                <label class="col-form-label"><span>*</span> Commentaire </label>
                                <textarea class="form-control" name="commentaire" id="" cols="30" rows="2"
                                  formControlName="commentaire"></textarea>
                                <div *ngIf="commentaire.invalid && (commentaire.touched || commentaire.dirty)"
                                  class="text text-danger">
                                  The commentaire is required
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="card">
                          <div class="card-header">
                            <h5>Distributeurs Et Zones</h5>
                          </div>
                          <div class="card-body">
                            <div class="digital-add needs-validation">
                              <div class="form-group">
                                <label class="col-form-label"><span>*</span> Appliquer à tous les distributeurs</label>
                                <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                  <label class="d-block" for="oui-dist">
                                    <input class="radio_animated" id="oui-dist" type="radio" value="Oui"
                                      name="appToAllDistrs" formControlName="appToAllDistrs" />
                                    Oui
                                  </label>
                                  <label class="d-block" for="non-dist">
                                    <input class="radio_animated" id="non-dist" type="radio" value="Non"
                                      name="appToAllDistrs" formControlName="appToAllDistrs" />
                                    Non
                                  </label>
                                </div>
                                <div *ngIf="appToAllDistrs.invalid && appToAllDistrs.touched" class="text text-danger">

                                  <div *ngIf="appToAllDistrs.errors?.required">
                                    The Appliqué à tous les distributeurs is required.
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-form-label"><span>*</span> Liste des Distributeurs</label>
                                <ng-multiselect-dropdown id="couleur-saison" name="concernDistrs"
                                  [data]="listDistributeurs" formControlName="concernDistrs"
                                  [settings]="dropdownDistributeursSettings"
                                  [placeholder]="'-- Select Distributeurs --'">
                                </ng-multiselect-dropdown>
                                <div *ngIf="concernDistrs.invalid && concernDistrs.touched && concernDistrs.dirty"
                                  class="text text-danger">

                                  <div *ngIf="concernDistrs.errors?.required">
                                    The Distributeurs is required.
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="digital-add needs-validation">
                              <div class="form-group">
                                <label class="col-form-label"><span>*</span> Appliquer à toutes les zones</label>
                                <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                  <label class="d-block" for="oui-zone">
                                    <input class="radio_animated" id="oui-zone" type="radio" value="Oui"
                                      name="appToAllZones" formControlName="appToAllZones">
                                    Oui
                                  </label>
                                  <label class="d-block" for="non-zone">
                                    <input class="radio_animated" id="non-zone" type="radio" value="Non"
                                      name="appToAllZones" formControlName="appToAllZones">
                                    Non
                                  </label>
                                </div>
                                <div *ngIf="appToAllZones.invalid && (appToAllZones.touched || appToAllZones.dirty)"
                                  class="text text-danger">

                                  <div *ngIf="appToAllZones.errors?.required">
                                    The Appliqué à toutes les zones is required.
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-form-label"> <span>*</span> Liste des zones</label>
                                <ng-multiselect-dropdown name="zones" [placeholder]="'-- Select Zones --'"
                                  [settings]="dropdownZoneSettings" formControlName="concernZones" [data]="listZones">
                                  <ng-template #optionsTemplate let-item let-option="option" let-id="id"
                                    let-isSelected="isSelected">
                                    <div style="padding:1px 10px;margin-right:10px;right:2px;top:-2px">
                                      <img [src]="getZones[id].image" style="width: 18px; margin: 0 20px;" />
                                      <label style="color: #333;min-width: 130px;"
                                        [ngStyle]="{ 'color': getZones[id].isDisabled? 'lightgrey':''}">
                                        {{getZones[id].item_text}}
                                      </label>
                                    </div>
                                  </ng-template>
                                  <ng-template #optionSelectedTemplate let-option="option" let-id="id">
                                    <div>
                                      <img [src]="getZones[id].image" style="width: 18px; margin-right: 2px;" />
                                      {{option}}
                                    </div>
                                  </ng-template>
                                </ng-multiselect-dropdown>
                                <div *ngIf="concernZones.invalid && concernZones.touched && concernZones.dirty"
                                  class="text text-danger">

                                  <div *ngIf="concernZones.errors?.required">
                                    The zones is required.
                                  </div>
                                </div>
                              </div>

                              <div class="form-group mb-0">
                                <div class="product-buttons text-center">
                                  <button type="button" class="btn btn-primary mr-1"
                                    (click)="editTarifUnitaireVariable()">Save</button>
                                  <button type="button" (click)="clearValues()" class="btn btn-light">Discard</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i data-feather="cloud"></i> Produit
              </ng-template>
              <ng-template ngbTabContent>
                <div class="account-setting">
                  <h5 class="f-w-600">Produit associé au tarif saisonnier</h5>
                  <form [formGroup]="tuvProduitForm" *ngIf="tuvProduitForm">
                    <div class="digital-add needs-validation">
                      <div class="form-group">
                        <label for="produitService" class="col-form-label pt-0"><span>*</span> Produit</label>
                        <ng-multiselect-dropdown id="produitService" name="produitService" [settings]="dropdownProduitSettings"
                           formControlName="produitService" [data]="listProduits"
                          [placeholder]="'-- Select Produit --'">
                        </ng-multiselect-dropdown>
                        <div *ngIf="produitService.invalid && produitService.touched" class="text text-danger">
                          <div *ngIf="produitService.errors?.required">
                            The Produit is required.
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mb-0">
                      <div class="product-buttons text-center">
                        <button type="button" class="btn btn-primary mr-1" [disabled]="tuvProduitForm.invalid"
                          (click)="onclickAddToTuv()">Add to tarif unitaire variable</button>
                      </div>
                    </div>
                  </form>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>

  </div>
</div>
