<div class="container-fluid">
    <form [formGroup]="instCaractForm" *ngIf="instCaractForm">
        <div class="row product-adding">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>{{'inst_caract.div1.title' | translate}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group">
                                <label for="refInstCaracterist" class="col-form-label"><span>*</span>
                                    {{'inst_caract.fields.refInstCaracterist' | translate}}</label>
                                <input class="form-control" id="refInstCaracterist" type="text" required=""
                                    formControlName="refInstCaracterist">
                                <div *ngIf="refInstCaracterist.invalid && (refInstCaracterist.touched || refInstCaracterist.dirty)"
                                    class="text text-danger">

                                    <div *ngIf="refInstCaracterist.errors?.required">
                                        {{'inst_caract.validators.refInstCaracterist.required' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="groupeCaracterist" class="col-form-label"><span>*</span>
                                    {{'inst_caract.fields.groupeCaracterist' | translate}}</label>
                                <input class="form-control" id="groupeCaracterist" type="text" required=""
                                    formControlName="groupeCaracterist">
                                <div *ngIf="groupeCaracterist.invalid && (groupeCaracterist.touched || groupeCaracterist.dirty)"
                                    class="text text-danger">

                                    <div *ngIf="groupeCaracterist.errors?.required">
                                        {{'inst_caract.validators.groupeCaracterist.required' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="uniteCaracterist" class="col-form-label"><span>*</span>
                                    {{'inst_caract.fields.uniteCaracterist' | translate}}</label>
                                <input class="form-control" id="uniteCaracterist" type="text" required=""
                                    formControlName="uniteCaracterist">
                                <div *ngIf="uniteCaracterist.invalid && (uniteCaracterist.touched || uniteCaracterist.dirty)"
                                    class="text text-danger">

                                    <div *ngIf="uniteCaracterist.errors?.required">
                                        {{'inst_caract.validators.uniteCaracterist.required' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="labelCaracterist" class="col-form-label"><span>*</span>
                                    {{'inst_caract.fields.labelCaracterist' | translate}}</label>
                                <input class="form-control" id="labelCaracterist" type="text" required=""
                                    formControlName="labelCaracterist">
                                <div *ngIf="labelCaracterist.invalid && (labelCaracterist.touched || labelCaracterist.dirty)"
                                    class="text text-danger">

                                    <div *ngIf="labelCaracterist.errors?.required">
                                        {{'inst_caract.validators.labelCaracterist.required' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="isZoneDeSaisie()">
                                <label for="valeurCaracterist" class="col-form-label"><span>*</span>
                                    {{'inst_caract.fields.valeurCaracterist' | translate}}</label>
                                <input class="form-control" id="valeurCaracterist" type="text" required=""
                                    formControlName="valeurCaracterist">
                                <div *ngIf="valeurCaracterist.invalid && (valeurCaracterist.touched || valeurCaracterist.dirty)"
                                    class="text text-danger">

                                    <div *ngIf="valeurCaracterist.errors?.required">
                                        {{'inst_caract.validators.valeurCaracterist.required' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="valeurCaracterist"
                                    class="col-xl-3 col-sm-4 mb-0"><span>*</span>{{'inst_caract.fields.valeurCaracterist'
                                    |
                                    translate}}</label>
                                <ng-multiselect-dropdown class="col-xl-8 col-sm-7 m-0 p-0" id="valeurCaracterist"
                                    name="valeurCaracterist" [settings]="dropdownValeurSettings" [data]="listValeur"
                                    formControlName="valeurCaracterist" [placeholder]="'-- Select Valeur --'"
                                    (onSelect)="onValeurSelect($event)">
                                </ng-multiselect-dropdown>
                                <div *ngIf="valeurCaracterist.invalid && valeurCaracterist.touched"
                                    class="text text-danger">

                                    <div *ngIf="valeurCaracterist.errors?.required">
                                        {{'inst_caract.validators.valeurCaracterist.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>{{'inst_caract.div2.title' | translate}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">

                            <div class="form-group">
                                <label for="typeCoutAdditionnel" class="col-form-label"><span>*</span>
                                    {{'inst_caract.fields.typeCoutAdditionnel' |
                                    translate}}</label>
                                <ng-multiselect-dropdown id="typeCoutAdditionnel" name="typeCoutAdditionnel"
                                    [data]="listTypes" formControlName="typeCoutAdditionnel"
                                    [settings]="dropdownTypesSettings" [placeholder]="'-- Select Groupe --'">
                                </ng-multiselect-dropdown>
                                <div *ngIf="typeCoutAdditionnel.invalid && typeCoutAdditionnel.touched"
                                    class="text text-danger">

                                    <div *ngIf="typeCoutAdditionnel.errors?.required">
                                        {{'inst_caract.validators.coutAdditionnel.required' | translate}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="valeurCoutAdditionnel" class="col-form-label"><span>*</span>
                                    {{'inst_caract.fields.valeurCoutAdditionnel' |
                                    translate}}</label>
                                <input class="form-control" id="valeurCoutAdditionnel" type="number" required=""
                                    formControlName="valeurCoutAdditionnel">
                                <div *ngIf="valeurCoutAdditionnel.invalid && (valeurCoutAdditionnel.touched || valeurCoutAdditionnel.dirty)"
                                    class="text text-danger">

                                    <div *ngIf="valeurCoutAdditionnel.errors?.required">
                                        {{'inst_caract.validators.valeurCoutAdditionnel.required' | translate}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label"><span>*</span> {{'inst_caract.fields.affichagePrive' |
                                    translate}}</label>
                                <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                    <label class="d-block" for="oui-affPr">
                                        <input class="radio_animated" id="oui-affPr" type="radio" value="Oui"
                                            name="affichagePrive" formControlName="affichagePrive" />
                                        {{'radio.value1' | translate}}
                                    </label>
                                    <label class="d-block" for="non-affPr">
                                        <input class="radio_animated" id="non-affPr" type="radio" value="Non"
                                            name="affichagePrive" formControlName="affichagePrive" />
                                        {{'radio.value2' | translate}}
                                    </label>
                                </div>
                                <div *ngIf="affichagePrive.invalid && affichagePrive.touched" class="text text-danger">

                                    <div *ngIf="affichagePrive.errors?.required">
                                        {{'inst_caract.validators.affichagePrive.required' | translate}}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ordreCaracterist" class="col-form-label"><span>*</span>
                                    {{'inst_caract.fields.ordreCaracterist' | translate}}</label>
                                <input class="form-control" id="ordreCaracterist" type="number" required=""
                                    formControlName="ordreCaracterist">
                                <div *ngIf="ordreCaracterist.invalid && (ordreCaracterist.touched || ordreCaracterist.dirty)"
                                    class="text text-danger">

                                    <div *ngIf="ordreCaracterist.errors?.required">
                                        {{'inst_caract.validators.ordreCaracterist.required' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-0">
            <div class="product-buttons text-center">
                <button type="button" class="btn btn-primary mr-1" (click)="editInstCaract()">{{'button.edit' |
                    translate}}</button>
                <button type="button" (click)="clearValues()" class="btn btn-light">{{'button.discard' |
                    translate}}</button>
            </div>
        </div>
    </form>
</div>