<div class="container-fluid">
    <form [formGroup]="critCalcForm" *ngIf="critCalcForm">
        <div class="row product-adding">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>{{'critere_calculable.div1.title' | translate}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group">
                                <label for="groupeCritere" class="col-form-label"><span>*</span> {{'critere_calculable.fields.groupeCritere' | translate}}</label>
                                <ng-multiselect-dropdown id="groupeCritere" name="groupeCritere" [data]="listGroupes"
                                    formControlName="groupeCritere" [settings]="dropdownGroupesSettings"
                                    [placeholder]="'-- Select Groupe --'">
                                </ng-multiselect-dropdown>
                            </div>
                            <div class="form-group">
                                <label for="refCritere" class="col-form-label"><span>*</span> {{'critere_calculable.fields.refCritere' | translate}}</label>
                                <input class="form-control" id="refCritere" type="text" required=""
                                    formControlName="refCritere">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>{{'critere_calculable.div2.title' | translate}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group">
                                <label for="uniteValeur" class="col-form-label"><span>*</span> {{'critere_calculable.fields.uniteValeur' | translate}}</label>
                                <ng-multiselect-dropdown id="uniteValeur" name="uniteValeur" [data]="listUnites"
                                    formControlName="uniteValeur" [settings]="dropdownUnitesSettings"
                                    [placeholder]="'-- Select Unité --'">
                                </ng-multiselect-dropdown>

                            </div>
                            <div class="form-group">
                                <label for="label" class="col-form-label"><span>*</span> {{'critere_calculable.fields.label' | translate}}</label>
                                <input class="form-control" id="label" type="text" required="" formControlName="label">

                            </div>
                            <div class="form-group">
                                <label for="valeur" class="col-form-label"><span>*</span> {{'critere_calculable.fields.valeur' | translate}}</label>
                                <input class="form-control" id="valeur" type="text" required=""
                                    formControlName="valeur">

                            </div>


                            <div class="form-group mb-0">
                                <div class="product-buttons text-center">
                                    <button *ngIf="critCalcToShow.produitService" type="button" class="btn btn-primary mr-1"
                                        (click)="associatedProduct()">{{'button.go_to_product' | translate}}</button>
                                    <button type="button" (click)="goToList()" class="btn btn-light">{{'button.go_to_list' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>