
<div class="container-fluid">
  <div class="card">
    <p-toolbar>
      <ng-template pTemplate="right">
        <button pButton pRipple label="New" icon="pi pi-plus" class="btn btn-primary mr-1"
         routerLink="/prod-comp/simple/add-prod-comp" routerLinkActive="active"></button>
      </ng-template>

      <ng-template pTemplate="left">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
              placeholder="Search..." />
          </span>
        </div>
      </ng-template>
    </p-toolbar>
    <div class="clearfix"></div>
    <div class="card">
      <p-table #dt2 [value]="listProduitComps"
      styleClass="p-datatable-striped p_datatable-sm" [rows]="4"  [paginator]="true"
      [globalFilterFields]="['typeProduit','refProdCompose','refProdComposant']"
       responsiveLayout="scroll" [rowHover]="true"
       [resizableColumns]="true" [autoLayout]="true"
      dataKey="id">

      <ng-template pTemplate="header">
        <tr style="font-size: medium;">

            <th *ngFor="let col of colProdComp" pSortableColumn="{{col.field}}"
                [style.width]="col.width">
                {{col.header}} <p-sortIcon field="{{col.field}}"></p-sortIcon>
                <p-columnFilter type="text" field="{{col.field}}" display="menu">

                </p-columnFilter>
            </th>

            <th style="width: 15rem">Action</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-prod>
      <tr style="height: 1rem; font-size: medium;">

          <td>{{prod.typeProduit}}</td>
          <td>{{prod.refProdCompose?.translations[0]?.__designation}}</td>
          <td>{{prod.refProdComposant?.translations[0]?.__designation}}</td>
          <td >{{prod.qteProduit}} {{prod.uniteQte}} </td>
          <td>

         <a (click)=" onClickShowprodAssoci(prod._id)" href="javascript:;"
                  class="text text-info"><i class="fa fa-eye"></i></a>&nbsp;
              |&nbsp;
               <a  href="javascript:;"
               routerLink='/prod-comp/simple/edit-prod-comp/{{prod._id}}'
                  class="text text-warning">

                  <i class="fa fa-edit"></i>
                </a>&nbsp;
              |&nbsp;

              <a (click)="setprodToDelete(prod._id,deleteModalprodComp)"
                  href="javascript:;" class="text text-danger"><i class="fa fa-trash"></i></a>
          </td>

      </tr>
  </ng-template>

      </p-table>

      <ng-template #deleteModalprodComp let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title f-w-600" id="myModal_delete_produit">Supprimer de la liste des garantie assurance du produit
            </h5>
          </div>
          <div class="modal-body">
            <div class="container" style="padding: 20px 20px;">
              <div style="text-align: center;margin-bottom: 15px;  ">
                <i class="fa fa-exclamation-triangle fa-5x" style="text-align: center; color: red;"
                  aria-hidden="true"></i>
              </div>
            </div>
            <div style="margin-bottom: 20px;">
              <h4 style="text-align: center;">
                Êtes-vous sûr?
              </h4>
            </div>
            <div style="text-align: center; color: whitesmoke; margin-bottom: 20px;">
              <p style="line-height:15px;">
                Voulez-vous vraiment supprimer ces enregistrements? Ce processus ne peut pas être
                annulé.</p>
            </div>

          </div>
          <div class="modal-footer" style="text-align: center;">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')" href="javascript:;"
              data-dismiss="modal">

              Annuler
            </button>
            &nbsp;
            <button type="button" class="btn btn-primary" href="javascript:;" (click)="onClickDeleteGarAssur()"
              (click)="modal.dismiss('Cross click')">
              Supprimer
            </button>

          </div>
        </div>

      </ng-template>

    </div>

  </div>
</div>
